<div class="skill-container">
  <p class="section__text__p1">Explore My</p>
  <h1 class="title">Skills</h1>
  <div class="experience-details-container">
    <div class="about-containers">
      <div class="details-container">
        <!-- <h2 class="experience-sub-title">Frontend Development</h2> -->
        <div class="article-container" *ngFor="let sk of skills">
          <article class="artical-items mr-1">
            <div class="skill-name">
              <img
                src="../../../assets/images/checkmark.png"
                alt="Experience icon"
                class="icon"
              />
              <h3>{{ sk?.skillName }}</h3>
            </div>
            <div>
              <div class="w-full bg-gray-200 rounded-full dark:bg-gray-700">
                <div
                  class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full"
                  style="width: 90%"
                >
                  {{sk.skillValue}} %
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
      <!-- <div class="details-container">
          <h2 class="experience-sub-title">Frontend Development</h2>
          <div class="article-container">
            <article>
              <img
                src="../../../assets/images/checkmark.png"
                alt="Experience icon"
                class="icon"
              />
              <div>
                <h3>PostgreSQL</h3>
                <p>Basic</p>
              </div>
            </article>
            <article>
              <img
                src="../../../assets/images/checkmark.png"
                alt="Experience icon"
                class="icon"
              />
              <div>
                <h3>Node JS</h3>
                <p>Intermediate</p>
              </div>
            </article>
            <article>
              <img
                src="../../../assets/images/checkmark.png"
                alt="Experience icon"
                class="icon"
              />
              <div>
                <h3>Express JS</h3>
                <p>Intermediate</p>
              </div>
            </article>
            <article>
              <img
                src="../../../assets/images/checkmark.png"
                alt="Experience icon"
                class="icon"
              />
              <div>
                <h3>Git</h3>
                <p>Intermediate</p>
              </div>
            </article>
          </div>
        </div> -->
    </div>
  </div>
  <!-- <img
    src="../../../assets/images/arrow.png"
    alt="Arrow icon"
    class="icon arrow"
    onclick="location.href='./#projects'"
  /> -->
</div>
