<div class="profile-component">
  <div class="section__pic-container w-30 ml-1" >
    <img
      src="../../../assets/images/profile-pic.png"
      alt="John Doe profile picture"
    />
  </div>
  <div class="section__text w-50">
    <p class="section__text__p1">Hello, I'm</p>
    <h1 class="title">{{user?.['fullName'] }}</h1>
    <p class="section__text__p2">{{user?.['role'] }}</p>
    <div class="btn-container">
      <button
        class="btn btn-color-2"
        onclick="window.open('../../../assets/images/resume-example.pdf')"
      >
        Download CV
      </button>
      <button class="btn btn-color-1" onclick="location.href='./#contact'">
        Contact Info
      </button>
    </div>
    <div id="socials-container">
      <img
        src="../../../assets/images/linkedin.png"
        alt="My LinkedIn profile"
        class="icon"
        (click)="onClick(user?.['linkedinUrl'])"
        />
        <img
        src="../../../assets/images/github.png"
        alt="My Github profile"
        class="icon"
        (click)="onClick(user?.['githubUrl'])"
        />
        <!-- onclick="location.href='https://linkedin.com/'" -->
    </div>
  </div>
</div>
