<div class="contact-container">
  <p class="section__text__p1">Get in Touch</p>
  <h1 class="title">Contact Me</h1>
  <div class="contact-info-upper-container">
    <div class="contact-info-container">
      <img
        src="../../../assets/images/email.png"
        alt="Email icon"
        class="icon contact-icon email-icon"
      />
      <!-- href="mailto:examplemail@gmail.com" -->
      <p><a  [href]="contact.emailId">{{contact.emailId}}</a></p>
    </div>
    <div class="contact-info-container">
      <img
        src="../../../assets/images/linkedin.png"
        alt="LinkedIn icon"
        class="icon contact-icon"
      />
      <p><a [href]="contact.emailId"> {{contact.emailId}}</a></p>
    </div>
  </div>
</div>
