<div class="contact-container">
  <p class="section__text__p1">Get in Touch</p>
  <h1 class="title">Contact Me</h1>
  <div class="contact-info-upper-container">
    <div class="contact-info-container" *ngFor="let info of contact">
      <div>
        <img
          [src]="info.imageSrc"
          alt="Email icon"
          class="icon contact-icon email-icon"
        />
        <p>
          {{ contact.info}}
          <a [href]="contact.info">{{ contact.info }}</a>
        </p>
      </div>
    </div>
  </div>
</div>
